nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 60px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav img {
    height: 45px;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #495E57;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #F4CE14;
}

footer {
    background-color: #edefee;
    padding: 50px 0;
    margin-top: 50px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

footer img {
    width: 140px;
    height: auto;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    width: auto;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'karla', sans-serif;
}

footer h3 {
    font-family: 'Karla', sans-serif;
    color: #495e57;
    font-size: 1.25rem;
    margin-bottom: 25px;
    font-size: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 8px;
    color: #333;
    font-family: 'karla', sans-serif;
}

footer a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

footer a:hover {
    color: #f4ce14;
}