ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 60px;
    background-color: #47906c;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

nav a {
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
}

footer {
    background-color: #47906c;
    padding: 50px 0;
    margin-top: 50px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: flex-start;
}

footer img {
    width: 140px;
    height: auto;
}

footer nav,
footer article,
footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-shadow: none;
    width: auto;
    padding: 0;
}

footer h3 {
    font-family: 'Karla', sans-serif;
    color: #444847;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.25rem;
}

footer li,
footer a {
    color: #333;
    font-family: 'Karla', sans-serif;
}

nav a:hover,
footer a:hover {
    color: #F4CE14;
}